header {
  padding-top: 50px;
  height: 400px;
  width: 100%;
  background-image: url(/images/argyle.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  
}

#header {
  background-image: none;
  background-color: #532fa5;
}
