header {
  padding-top: 50px;
  height: 400px;
  width: 100%;
  background-image: url(/images/argyle.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: none;
  background-color: #532fa5;
  margin: 200px 120px;
}

@media only screen and (max-width: 1024px) {
  #header {
    margin: 120px 0px;
  }
}