
#tweet-text {
  color: black;
  background-color: transparent;
  text-decoration-style: solid;
  border: none;
  border-bottom: 4px solid black;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1em 0;
}
#counter {
  font-family: 'Bungee', cursive;
}
.error-message {
  color: rgb(77, 18, 101); 
  padding: 0;
  margin: 5px;
  font-weight: bolder;
}
.error-line {
  border: 4px solid #cb5baa;
  padding-left: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.font-bungee {
  font-family: 'Bungee', cursive;
}
.red {
  color: #da4994;
}
.black {
  color: black;
}
.card {
  color: black;
  margin: 40px 0;
  border-radius: 25px;
  border: 2px solid #581845;
  height: 275px;
  width: 75%;
  background-color: white ;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  transition: 0.3s;
}
.card:hover {
  box-shadow:10px 5px 5px rgb(195, 135, 213);
}
.line {
  height: 2px;
  background-color: black;
  width: 100%;
}

.mt-10 {
  margin-top: 50px;
}
.icon-height {
  width: 32px;
}
  .mb-5 {
  margin-bottom: 5px;
  }

.footer-trio {
  color: rgb(141, 70, 129);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.footer-trio i:hover {
  color: rgb(199, 144, 208);
}
.right {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.mt-10 {
  color: rgb(196, 125, 181);
  margin-top: 10px;
}
 