
#tweet-text {
  color: black;
  background-color: transparent;
  text-decoration-style: solid;
  border: none;
  border-bottom: 4px solid black;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1em 0;
}

.red {
  color: red;
}
.card {
  color: black;
  margin: 40px 0;
  border: 4mm ridge rgba(143, 110, 220, 0.6);;
  height: 230px;
  width: 75%;
  background-color: white ;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 0.3s;
}
.card:hover {
  box-shadow:10px 5px 5px rgb(228, 150, 181);
}
.line {
  height: 2px;
  background-color: black;
  width: 100%;
}

.mt-10 {
  margin-top: 70px;
}
.icon-height {
  width: 32px;
}
  .mb-5 {
  margin-bottom: 5px;
  }

.footer-trio {
  color: rgb(141, 70, 129);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.footer-trio i:hover {
  color: rgb(199, 144, 208);
}